<app-header></app-header>
<div class="container">
  <!-- Código base
  <h1>
    {{ title }}!
  </h1>
  <ul>
    <li>{{curso}}</li>
    <li>{{nombre}}</li>
  </ul>
<app-directiva></app-directiva>
<br>
-->
<!--Lista de clientes con un arreglo en formatro JSON estático
<app-clientes></app-clientes>
-->
<!--Lista de clientes desde un archivo externo con formato JSON
<app-clientes-json-externo></app-clientes-json-externo>
-->
<!--Lista de clientes desde un servicio ts con Observable
<app-clientes-servicio></app-clientes-servicio>
-->
<router-outlet></router-outlet>
</div>
<app-footer></app-footer>